# fly.toml app configuration file generated for lotr-backend on 2026-01-27T20:50:00-04:00

app = "lotr-backend-api"
primary_region = "mia"

[build]
  dockerfile = "Dockerfile"
  ignorefile = ".dockerignore"

[env]
  PORT = "8080"
  NODE_ENV = "production"
  # ONE_API_BASE_URL is set in code default, but can be overridden here
  # DATABASE_URL and ONE_API_KEY should be set using 'fly secrets set'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  size = "shared-cpu-1x"
  memory = "512mb"
  cpus = 1
  cpu_kind = "shared"
